<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />

        <meta name="description" content="<%= description %>" />
        <meta name="keywords" content="<%= keywords %>" />

        <meta property="og:site_name" content="<%= productName %>" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="<%= title %>" />
        <meta property="og:description" content="<%= description %>" />
        <meta property="og:url" content="<%= homepage %>" />

        <title><%= title %></title>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, viewport-fit=cover" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-title" content="<%= productName %>" />
        <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    </head>
    <body>
        <noscript>You need to enable JavaScript to run this app.</noscript>
        <div id="app"></div>
    </body>
</html>
